<% provide(:title, 'Helping You Reach Your Goals') %>
<h1>Buckets | Helping You Reach Your Goals</h1>
<p>This is a pretty lamesauce tagline, and buckets.com is already taken, but thsis should get me started with some rspec test cases.</p>
<p>Cheers to getting this project up and running!</p>
