<% provide(:title, 'Helping You Reach Your Goals') %>
<div class="center hero-unit">
	<h1>Welcome to Buckets</h1>
	<h2>Helping You Reach Your Goals</h2>
	<% if user_signed_in? == false %>
		<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
  <% end %>
</div>