<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        Shalom, <%= @user.name %>! Let's do this!
      </h1>
    </section>
  </aside>
 <div class="span8">
   <% if @user.buckets.any? %>
     <ul class="unstyled">
       <%= render @buckets %>
     </ul>
   <% end %>
  </div>
</div>